.navbar {
    height: 55px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > li {
    float: left;
}

.navbar > li > a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 1rem;
    font-weight: 600;
}

.navbar > li > a:hover, .dropdown:hover .dropbtn {
    color: rgba(165, 10, 2, 1);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: rgba(165, 10, 2, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content > li {
    float: none;
    color: #ffffff;
    background-color: rgba(165, 10, 2, 1);
}

.dropdown-content > li > a {
    color: #ffffff;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px;
    line-height: 8px;
    font-weight: 600;
}

.dropdown-content > li > a:hover {
    background-color: #7a0101;
}

.dropdown:hover .dropdown-content {
    display: block;
    list-style-type: none;
    padding: 0;
}
